body{
    background-color:rgb(239, 230, 213);
}

.addAnn{
    background-color: black;
    color:white;
    padding: 7px 20px;
    font-weight: 700;
margin-top: 50px;

}

#section2 li{
background-color: white;
border: 1px rgba(0, 0, 0, 0.219) solid !important;
}
#section2{
    margin-top: 50px !important;
}

.add_item_btn{
    border: none;
    width: 250px;
    height: 430px;
    font-weight: 700;
    font-size: 20px;
    transition-duration: 0.7s;
    box-shadow: 0px 1px 3px 2px #ccc;
}
.add_item_btn:hover{
background-color: black;
color: white;
box-shadow: 0px 5px 7px 2px #ccc;
}
#adminSection{
margin-top: 100px;
}
.product:hover{
    box-shadow: 0px 5px 7px 2px #ccc;
    transform: translate(0px,-5px);
}
.product{
    background-color: #eee;
    padding: 0 !important;
    margin: 0 !important;
    transition-duration: 0.3s;
    cursor: pointer;
    box-shadow: 0px 1px 3px 2px #ccc;
    position: relative;
}
.product p{
    padding: 0 !important;
    margin: 0 !important;
}
.product div:last-child{
    padding:10px;
}
.icons{
    width: 35px;
     display: flex;
    gap: 7px;
    position: absolute;
    right: 20px;
    top: 0px;
}

.icons img{
    background-color: white;
    height: 30px !important;
    border-radius: 5px;
    padding:0 3px;
}